<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		"You've found the home page for One Month Rails"
	</p>
	<p> 
	<div class="btn">
	<%= link_to "Sign Up Now!", "#" , class: "btn btn-primary btn-large" %>
	</div>
	</p>
</div>


